<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="modificarTarea()" #f="ngForm">        
      <div class="form-group">
        <label for="titulo">
          Titulo ({{ titulo?.value?.length }})
        </label>
        <input #titulo="ngModel"
               required minlength="5"
               [(ngModel)]="newTarea.titulo"
               class="form-control"
               type="text"                     
               name="titulo"
               value ="{{ t.titulo }}"/>
      </div>
      <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
        class="alert alert-danger">
        El titulo debe tener largo mayor a 5 caracteres
      </div>
      
      <div class="form-group">
        <label for="descripcion">
          Descripcion ({{ descripcion?.value?.length }})
        </label>
        <textarea #descripcion="ngModel"
                  required minlength="10" maxlength="100"
                  [(ngModel)]="newTarea.descripcion"
                  class="form-control"
                  name="descripcion"
                  value ="{{ t.descripcion }}"
                  ></textarea>
      </div>
      <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
        class="alert alert-danger">
        La descripcion debe tener entre 10 y 100 caracteres
      </div>
      

      <button [disabled]="f.invalid"
              type="submit"
              class="btn btn-primary">
              Crear Tarea
      </button>
    </form>
  </div>
</div>