<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom" style="margin-top: 20px;">
  <div class="navbar-expand m-auto navbar-text">
    Hecho con <i class="fa fa-heart"></i> para Ingeniería Web Avanzada
  </div>
</nav>


